/*-- scss:defaults --*/

// Import fonts: Aleo, Mulish, Nunito
@import url("https://db.onlinewebfonts.com/c/0b9856633d4311a19df074ea509d8390?family=Constantia");




/*-- scss:rules --*/

.cent {
  text-align: center
}

a:hover {
  color: rgb(196,75,16) !important;
}

body {
  fontcolor: rgb(247, 247, 239);
  linkcolor: rgb(196,98,16);
  backgroundcolor:  rgb(48, 48, 18);
  font-size: 19px;
  /*font-family: "Constantia", serif; */
  hyphens: auto; /* Enable hyphenation */
    -webkit-hyphens: auto; /* For Safari */
    -moz-hyphens: auto; /* For Firefox */
    text-align: justify; /* Justify the text */
}